body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 120px auto;
  text-align: center;
}

input, button {
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}

button.download {
  background: #16a34a;
}
